/*
  SASS Variables
*/
$base-bg-color: #171b1e;
$base-font-color: #fff;

* {
  box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow-y: scroll;
}
html {
	background: url('../images/home-office.jpg') no-repeat;
	background-size: cover;
}
body {
	background: -moz-linear-gradient(-45deg,  rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.9) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,0,0,0.6)), color-stop(100%,rgba(0,0,0,0.9))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.9) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.9) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.9) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.9) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#e6000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  color:$base-font-color;
}
.wrapper {
  max-width: em(960);
  margin: 0 auto;
}
.logo {
	width: em(90);
	height: auto;
  	margin-bottom: 0.6em;
}
.content {
  padding: 1.6em;
  text-align: center;
}
.content-tab.active {
  background-color: lighten( $base-bg-color, 1%) ;
}
.description {
  margin: 2em 0;
  font-size: 1.6em;
  font-weight: 200;
  line-height: 140%;
}
.social-links {
  margin: 0 0 3em;
  a {
    margin: 0 0.6em;
    border: none;
  }
  a:hover {
  	background: transparent;
  }
}
.btn-contact {
	display: none;
	color: $base-font-color;
	border: 1px solid $base-font-color;
	padding: 12px 24px;
	text-decoration: none;
	border-radius: 30px;
}
.mobile-mail {
	display: block;
}
.mobile-mail .btn-contact {
	float: none;
	display: block;
	margin: 0 auto;
	max-width: em(300);
}
.footer {
  margin: 0 5%;
  font-size: 80%;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.text-center {
  text-align: center;
}
.prev-job {
	color: #aaa;
	margin-right: 10px;
	display: inline-block;
}
@media only screen and (min-width: 768px) {
	.logo {
		float: left;
	}
	.main-heading {
		font-size: 4em;
		margin-top: 120px;
	}
	.description {
		font-size: 2em;
	}
	.mobile-mail {
		display: none;
	}
	.btn-contact {
		display: inline;
		float: right;
	}
}
