/*
  SASS Variables
*/
$base-bg-color: #171b1e;

* {
  box-sizing: border-box;
}
body {
  background: $base-bg-color;
  color: #fff;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.25em;
  font-weight: 100;
}
a {
  text-decoration: none;
  color: #d6e04c;
  border-bottom: 1px dotted;
}
h1 {
  font-family: 'Cutive', serif;
  margin-top: 0.27em;
}
small {
  display: block;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 60%;
  font-weight: 100;
  margin-top: 0.25em;
}
.wrapper {
  max-width: 35em;
  margin: 0 auto;
}
.logo {
  margin-bottom: 0.6em;
}
.content {
  border-bottom: 1px dashed tint( $base-bg-color, 8%);
  padding: 1.6em;
  background-color: $base-bg-color;
  text-align: center;
}
.content-tab.active {
  background-color: lighten( $base-bg-color, 1%) ;
}
.description {
  margin: 2em 0;
}
.btn-contact {
  display: block;
  background-color: transparent;
  border: 1px solid #fff;
  color: white;
  font-weight: 200;
  margin: 3em auto 1em;
  padding: 1em 1.6em;
  max-width: 20em;
  border-radius: 3px;
  &:hover {
    background-color: #fff;
    color: $base-bg-color;
  }
}
.social-links {
  margin: 0 0 3em;
  a {
    margin: 0 0.6em;
    border: none;
  }
}
.footer {
  margin: 0 5%;
  font-size: 80%;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.text-center {
  text-align: center;
}
.email-experiment {
  background: #D0E047;
  color: $base-bg-color;
  font-weight: 200;
  a {
    color: darken(#d6e04c, 30%);
  }
  .content {
    background: transparent;
  }
  small {
    font-weight: 200;
  }
  .btn-contact {
    background-color: $base-bg-color;
    border: 1px solid lighten($base-bg-color, 10%);
    color: #fff;
    &:hover {
      background-color: lighten($base-bg-color, 10%);;
      color: #fff;
    }
  }
}